.joinButton::after,
.joinButton::before {
  content: '';
  position: absolute;
  top: 0;
  width: 42px;
  height: 53px;
  background-size: cover;
}
.joinButton::after {
  right: 0;
  background-image: url('/svgs/button-border-mobile-right.svg');
}
.joinButton::before {
  left: 0;
  background-image: url('/svgs/button-border-mobile-left.svg');
}

@media (min-width: 768px) {
  .joinButton::after,
  .joinButton::before {
    width: 35px;
    height: 50px;
  }
  .joinButton::after {
    background-image: url('/svgs/button-border-tablet-right.svg');
  }
  .joinButton::before {
    background-image: url('/svgs/button-border-tablet-left.svg');
  }
}
@media (min-width: 1280px) {
  .joinButton::after,
  .joinButton::before {
    width: 44px;
    height: 71px;
  }
  .joinButton::after {
    background-image: url('/svgs/button-border-desktop-right.svg');
  }
  .joinButton::before {
    background-image: url('/svgs/button-border-desktop-left.svg');
  }
}
