.joinButton::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 53px;
  background-image: url('/button-border-mobile-right.svg');
  background-size: cover;
}
.joinButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 53px;
  background-image: url('/button-border-mobile-left.svg');
  background-size: cover;
}

@media (min-width: 768px) {
  .joinButton::after {
    width: 35px;
    height: 50px;
    background-image: url('/button-border-tablet-right.svg');
    background-size: cover;
  }
  .joinButton::before {
    width: 35px;
    height: 50px;
    background-image: url('/button-border-tablet-left.svg');
  }
}
@media (min-width: 1280px) {
  .joinButton::after {
    width: 44px;
    height: 71px;
    background-image: url('/button-border-desktop-right.svg');
    background-size: cover;
  }
  .joinButton::before {
    width: 44px;
    height: 71px;
    background-image: url('/button-border-desktop-left.svg');
  }
}
