@tailwind components;

@layer components {
  .error {
    @apply absolute right-0 bottom-0 translate-y-full flex items-center gap-1 text-12 text-red font-extralight leading-6 tracking-[2.4px];
  }
  .input {
    @apply bg-backgroundInput text-20 font-extralight leading-6 py-[6px] w-full outline-none tablet:text-13 tablet:py-0;
  }
  .label {
    @apply text-12 font-extralight leading-6 tracking-[2.4px];
  }
}
@media (min-width: 768px) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 0fr 0fr 0fr 0fr;
    gap: 10px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      'name message'
      'email message'
      'position message'
      'phone message'
      'confirm submit';
  }

  .message {
    grid-area: message;
    width: 221px;
    height: 228px;
  }
  .submit {
    grid-area: submit;
  }
  .name {
    grid-area: name;
    width: 222px;
    height: 48px;
  }
  .email {
    grid-area: email;
    width: 222px;
    height: 48px;
  }
  .phone {
    grid-area: phone;
    width: 222px;
    height: 48px;
  }
  .confirm {
    grid-area: confirm;
    width: 222px;
    height: 44px;
  }
  .position {
    grid-area: position;
    width: 222px;
    height: 48px;
  }
}
