.swiper-pagination-bullets {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 55%;
  right: 0;
}
.swiper-pagination-bullet {
  background-color: transparent;
  width: 100%;
  height: auto;
  text-align: start;
  color: #fff;

  font-size: 20px;
  font-weight: 200;
  line-height: 17px;
  text-transform: uppercase;
}
.swiper-pagination-bullet-active {
  position: relative;
  padding-left: 15px;
}
.swiper-pagination-bullet-active::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #fff;
  transform: rotate(45deg) translate(-90%, -50%);
}
