.embla {
  --slide-spacing: 1rem;
  --slide-size: 60%;
  --slide-height: 19rem;
}
.emblaViewport {
  overflow: hidden;
}
.emblaContainer {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.emblaSlide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}
.emblaSlideImg {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
